@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "sass:color";

h2 {
  margin-bottom: $margin-md-sm;
  text-align: center;
  font-size: min($font-size-xxl, $font-size-xxxl);
  font-weight: $font-weight-bold;
  color: var(--primaryColor);
  background: linear-gradient(
    90deg,
    var(--accentColor),
    var(--accentColor-dark) // Use the darker version of the accent color
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  @include transform(translateY(20px));
  @include transition(opacity 0.8s ease-out, transform 0.8s ease-out);

  @media (prefers-reduced-motion: reduce) {
    opacity: 1;
    @include transform(translateY(0));
    @include animation(none);
  }

  &.in-view {
    opacity: 1;
    @include transform(translateY(0));
  }
}

h3 {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  margin-bottom: 0.5rem;
}

// @include keyframes(fadeInUp) {
//   from {
//     opacity: 0;
//     @include transform(translateY(20px));
//   }
//   to {
//     opacity: 1;
//     @include transform(translateY(0));
//   }
// }
